body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#eyes #left, #eyes #right {
  transform-origin: 50% 40%;
  animation: blinky-eyes 5s ease infinite;
}
#eyes {
  animation: move-eyes 5s ease infinite;
}
#mouth {
  animation: move-mouth 5s ease infinite;
}
.error-msg {
  font-size: 1.5rem;
  text-align: center;
  color: #828090;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

@keyframes blinky-eyes {
  0% { transform: scale(1); }
  2% { transform: scale(1.1, 0.3); }
  4% { transform: scale(1); }
  8% { transform: scale(1); }
  10% { transform: scale(1.1, 0.3); }
  12% { transform: scale(1); }
  50% { transform: scale(1); }
  100% { transform: scale(1); }
}
@keyframes move-eyes {
  0% { transform: translateX(0); }
  50% { transform: translateX(0); }
  60% { transform: translateX(-3%); }
  62.5% { transform: translateX(-3%); }
  72.5% { transform: translateX(3%); }
  75% { transform: translateX(3%); }
  85% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
@keyframes move-mouth {
  0% { transform: translateX(0); }
  50% { transform: translateX(0); }
  60% { transform: translateX(-2%); }
  62.5% { transform: translateX(-2%); }
  72.5% { transform: translateX(2%); }
  75% { transform: translateX(2%); }
  85% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
